/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
.depot_form {
	fieldset {
		background: #efe;
	
		legend {
			color: #dfd;
			background: #141;
			font-family: sans-serif;
			padding: 0.2em 1em;
		}
	}
	
	form {
		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}
	
		select, textarea, input {
			margin-left: 0.5em;
		}
		
		.submit {
			margin-left: 4em;
		}
		
		br {
			display: none
		}
	}
}

.page-title{
	text-align: center;
}

.wineThumbImage{
	height: 150px;
	width: 130px;
}

.wineBigImage{
	width: 400px;	
}