.register{
    //color:#aaaaaa;
    text-align: center;
    font-size: 0.75em;
    float:right;
    padding-right:1em;
    
    p{
      display:block;
     // color:#C5F1F9;
      font-size: 1.25em;
    }
    
    a{
     color:#aaaaaa;
     display:block;
     text-decoration: underline;
    }
    
    a:link,
    a:hover,
    a:active,
    a.here:link,
    a.here:visited{ 
      color:#888888;
    }
}

.login-form form{
    float:right;
    padding-right:1em;
    margin-top: 2em;
}

#logo{
    float: left;
    font-size: 20px;

    img{
        width: 100px;
        height: 100px
    }    
}

.header{
    height:5em;
    background-color: #115859;
    width:100%;
}

#content{
    clear: left;
    //text-align: center;
}

/* Following is CSS for tabbing taken from: http://clagnut.com/sandbox/csstabs/*/

.navigation {
    clear: left;
    text-align: center;

    ul {
      float:left;
      padding-top:1em;
      padding-left: 0;
      margin:2em 0 0 0;
      line-height:1em;
      list-style:none;
    }
  
    li {
      float:left;
      margin:0;
      padding-top:0.5em;
      padding-bottom:0.6em;
    }
  
    a {
      color:#aaaaaa;
      text-decoration:none;
      font-weight:bold;
      margin:0;
      padding-left:0.5em;
      padding-right:0.5em;
    }
   
    .selected {
      background-color: #C5F1F9;
    }
         
    a:hover,
    a:active,
    a.here:link,
    a.here:visited {
           color:#888888;
    }
         
    a.here:link,
    a.here:visited {
           position:relative;
           z-index:102;
    }
}