<!DOCTYPE html>
<html>
<head>
  <title>MAF</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag(:rconsole) if Rails.env.development? %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container">
	<div id="header">
		<%= render :partial => 'sessions/header' %>
    	<div class="navigation">
	    	<%= render_navigation %>
	  	</div>
	</div>

	<div id="content">		
		<%= yield %>
	</div>


</div>
</body>
</html>
