<br>
<div class="row">
<% @wines.each do |wine| %>
  <div class="col-md-3">
    <div class="thumbnail" style="background-color:rgb(241, 248, 249);">
      <%= link_to(image_tag(get_wine_image_url(wine), alt: 'Wine', title: 'Show details', :class => "wineThumbImage"), wine_path(wine)) %>
      <div class="caption">
        <h3><%= wine.name%></h3>
        <p><%= wine.short_description%><br>
        <strong>Bottle size(ml): </strong> <%= wine.bottle_size_in_ml%><br><br>
        <strong>£<%= !wine.price.nil? ? "%.2f" % wine.price : 0 %> per bottle</strong><br>
        <em>Wine Supplied by <%= wine.supplier%></em>
        </p>
        <%= form_tag(line_items_path(wine_id: wine)) do %>
          <p>Quantity: <%= number_field_tag "the_quantity", nil, :class => "quantityTextBox", placeholder: "1", min: "1", max: "99999" %>
          <%= submit_tag "Add to basket", :class => "btn btn-primary", :id => "addToBasket",data: {disable_with: "Add to basket"} %> </p>
        <% end %>
      </div>
    </div>
  </div>	
<% end %>
</div>
<br/>
<div class="digg_pagination">
  <div>
    <%= page_entries_info @wines %>
  </div>
  <%= will_paginate @wines, container: false %>
</div>
<br/>
