<h2 class="page-title">Non-Alcoholic Wines</h2>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<% if @wines.length > 0 %>
	<!-- Search Field -->
	<div class="container">
		<div class="row searchfield">
			<div class="col-md-5">
			  <%= form_tag(search_wines_path, method: "get", id: "search") do %>
			    <fieldset>
			      <%= text_field_tag(:query,'',autocomplete: 'off', placeholder: "Search for Wine", :class => "form-control") %>
			    </fieldset>
			  <% end %>
		  	</div>
		  	<div class="col-md-7"> 
				<%= form_tag(price_filter_wines_path, method: "get", id: "price_filter", :class => "form-inline") do %>
					<div class="form-group"> or Filter by Price - 
						<label for="lowest_price_query">Lowest:</label>	  		
			  			<%= text_field_tag(:lowest_price_query,'',autocomplete: 'off', placeholder: "0", :class => "form-control", :style => "width: 60px") %> 
		  			</div>
		  			<div class="form-group">
			  			<label for="highest_price_query">Highest:</label>	
				  		<%= text_field_tag(:highest_price_query,'',autocomplete: 'off', placeholder: "999", :class => "form-control", :style => "width: 60px") %>
		  			</div>
		  			<div class="form-group">| Wines per page
			  			<select class="form-control" id="wine_per_page">
						  <option selected="selected">4</option>
						  <option>8</option>
						  <option>12</option>
						  <option>16</option>
						  <option>20</option>
						</select>
					</div>
		  		<% end %>

			</div>
		</div>
	</div>

	<div id='main-input-area'>
		<div class="container">
		  <%= render partial: 'wines_list', object: @wines %>
		</div>
	</div>
<% end %>