<p id="notice"><%= notice %></p>
<br><br>
<div class="container">
	<div class="row">				
		<div class="col-md-5">		
			<div class="thumbnail" style="background-color:rgb(241, 248, 249);">
				<%= image_tag(get_wine_image_url(@wine), alt: 'Wine', :class => "wineBigImage") %>
			</div>
		</div>
		<div class="col-md-7">		
			<h3><%= @wine.name %></h3>	
			<p><strong>Description: </strong><%= @wine.long_description %></p><br>
			<p><strong>Country of Origin: </strong><%= @wine.country_of_origin %></p>
			<p><strong>Grade Type: </strong><%= @wine.grade_type %></p>
			<p><strong>Suitable For Vegetarians?: </strong><%= @wine.suitable_for_vegetarians ? "Yes" : "No" %></p>
			<p><strong>Bottle Size: </strong><%= @wine.bottle_size_in_ml %>ml</p>

			<h2>£<%= !@wine.price.nil? ? "%.2f" % @wine.price : 0 %> per bottle</h2>
			<em>Wine is supplied by <%= @wine.supplier%></em>
			<br><br>
			<%= form_tag(line_items_path(wine_id: @wine)) do %>
	          <p>Quantity: <%= number_field_tag "the_quantity", nil, :class => "quantityTextBox", placeholder: "1", min: "1", max: "99999" %>
	          <%= submit_tag "Add to basket", :class => "btn btn-primary", :id => "addToBasket", data: {disable_with: "Add to basket"} %> </p>
	        <% end %>
		</div>
	</div>
</div>

<%= link_to 'Back', wines_path(page: @current_page), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Returning to wines list...."} %>
