<h1>Listing orders</h1>

<table border="1">
  <thead>
    <tr>    
      <th>Wine ID</th>
      <th>Wine Name</th>
      <th>Quantity</th>
      <th>Customer name</th>
      <th>Customer address</th>
      <th>Customer email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>      
        <td><%= order.wine.id %></td>
        <td><%= order.wine.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_address %></td>
        <td><%= order.customer_email %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
