<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Wine</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            	<% @cart.line_items.each do |item| %>
                <tr>
                    <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <%= link_to(image_tag(get_wine_image_url(item.wine), alt: 'Wine', title: 'Show details', :class => 'media-object', :style => 'width: 72px; height: 72px;'), wine_path(item.wine, page: 1), :class => 'thumbnail pull-left') %>

                        <div class="media-body" style="padding-left: 5px;">
                            <h4 class="media-heading"><a href="#"><%= item.wine.name %></a></h4>
                            <h5 class="media-heading"> by <a href="#"><%= item.wine.supplier %></a></h5>
                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                        </div>
                    </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                    <p> <%= item.quantity %> </p>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>£<%= !item.wine.price.nil? ? "%.2f" % item.wine.price : 0 %> </strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>£<%= !item.total_price.nil? ? "%.2f" % item.total_price : 0 %></strong></td>
                    <td class="col-sm-1 col-md-1">
                    <%= button_to 'Remove Item(s)', item, method: :delete,confirm: 'Are you sure?', :class => "btn btn-danger" %></td>
                </tr>
                <% end %>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>£<%= "%.2f" % @cart.total_price %></strong></h3></td>
                </tr>
                <tr>
                    <td><%= button_to 'Empty cart', @cart, method: :delete,confirm: 'Are you sure?', :class => "btn btn-danger" %>   
                    </td>
                    <td>   </td>
                    <td>
                    </td>
                    <td>
                    <%= link_to 'Continue Shopping', wines_path, :class => "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Continue Shopping..."} %> 
                    </td>
                    <td>
                    <%= button_to 'Checkout', carts_path(cart_id: @cart), :class => "btn btn-success", data: {disable_with: "Checking out..."} %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>