<div id="logo">
	<%= link_to(image_tag("MAF_Square_Logo.JPG", alt: "logo"), root_path) %>
	MyAlcoholFreeWine.com
</div>

<div class="register">
<% if (get_session_id) %>
	<p>Welcome <%= get_customer.first_name%> <%= get_customer.surname%></p>
	<%= button_to 'Logout', '/logout', :method => :delete %> <br>
	<% if @cart.total_quantity > 0 %>
		<div class="thumbnail">
			<%= link_to 'View Shopping Cart', "/carts/#{session[:cart_id]}", :class => "btn btn-default" %>
			 <div class="caption">
				<h5>Number of Wines: <strong><span id="numOfWines"><%= @cart.total_quantity %></span></strong><br>
				Total Cost: <strong><span id="costOfWines">£<%= "%.2f" % @cart.total_price %></span></strong></h5>
			</div>
		</div>
	<% else %>
		<%= link_to 'Shopping Cart is Empty', nil, :class => "btn btn-default" %>
	<% end %>
	</div>
<% else %>
	<p>Welcome Guest </p>
	<%= button_to 'Customer Login', root_path, :method => :get %>
	  or
	  <%= link_to 'Register', new_customer_path %>
	  <br>
		<% if @cart.total_quantity > 0 %>
			<div class="thumbnail">
				<%= link_to 'View Shopping Cart', "/carts/#{session[:cart_id]}", :class => "btn btn-default" %>
				 <div class="caption">
					<p style="margin-bottom:0px">Added <strong><span id="numOfWines"><%= @cart.total_quantity %></span></strong> wines at <strong><span id="costOfWines">£<%= "%.2f" % @cart.total_price %></span></strong></p>
				</div>
			</div>
		<% else %>
			<%= link_to 'Shopping Cart is Empty', nil, :class => "btn btn-default" %>
		<% end %>
	</div>
<% end %>

