<h1>Listing wines</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th>Short description</th>
      <th>Bottle size in ml</th>
      <th>Price</th>
      <th>Long description</th>
      <th>Country of origin</th>
      <th>Grade type</th>
      <th>Image</th>      
      <th>Suitable for vegetarians</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.image_url %></td>
        <td><%= wine.short_description %></td>
        <td><%= wine.bottle_size_in_ml %></td>
        <td><%= wine.price %></td>
        <td><%= wine.long_description %></td>
        <td><%= wine.country_of_origin %></td>
        <td><%= wine.grade_type %></td>
        <td><%= wine.image %></td>        
        <td><%= wine.suitable_for_vegetarians %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
