<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @wine.image_url %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @wine.short_description %>
</p>

<p>
  <strong>Bottle size in ml:</strong>
  <%= @wine.bottle_size_in_ml %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @wine.long_description %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @wine.country_of_origin %>
</p>

<p>
  <strong>Grade type:</strong>
  <%= @wine.grade_type %>
</p>

<p>
  <strong>Image</strong>
  <%= @wine.image %>
</p>

<p>
  <strong>Suitable for vegetarians:</strong>
  <%= @wine.suitable_for_vegetarians %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
