<div id="login-container" class="depot_form">
  <% if notice %>
  <p id="notice" style="text-align: center; color: red;"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
  <p id="notice" style="text-align: center; color: red;"><%= flash[:alert] %></p>
  <% end %>

  <% if (!get_session_id) %>
    <%= form_tag("/login",method: "post", :class => "form-signin") do %>
      <fieldset>
        <h2 class="form-signin-heading">Customer sign in</h2>
        <div>
            <%= label_tag :email, 'Email:' %><br>
            <%= text_field_tag :email, params[:email], :class => "form-control", placeholder: "Email address", required: 'true', autofocus: 'true' %>
        </div>
        <div>
          <%= label_tag :password, 'Password:' %><br>
          <%= password_field_tag :password, params[:password], :class => "form-control" %>
        </div>
        <div>
          <%= submit_tag "Login", :class => "btn btn-lg btn-primary btn-block", data: {disable_with: "Logging in...."} %>
        </div>
        <br>
      Do not have an account yet? <%= link_to 'Sign up',new_customer_path %>. <br><br> 
      </fieldset>
    <% end %>
  <%= button_to "Continue without signing in", wines_path, :method => "get", :class => "btn btn-lg btn-block" %>
  <% else %>
    <p>Check out the non-alcoholic wines we have on offer </p>
       <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("winebanner1.jpg", alt: "logo", :class => "first-slide") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>The Best Non-Alcoholic Wines</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("winebanner2.jpg", alt: "logo", :class => "first-slide") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>The Cheapest Wines</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("winebanner3.jpg", alt: "logo", :class => "first-slide") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Your Favourites Wines</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <i class="fa fa-chevron-left" style="margin-top: 200px;"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <i class="fa fa-chevron-right" style="margin-top: 200px;"></i>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  <% end %>
</div> <!-- /container -->